
<div class="divs4">
    <h1>Bienvenido <%= currentUser.nombreUsuario %>!</h1> 
    <div>
        <h2>Este semestre estas cursando:</h2>
        <ul> 
        <% mostrar.map((x)=>{%>
          <li><b><%= x.nombre %> </b>(<b><%= x.codigo %></b>)</li>
        <%}) %>
       </ul>
    </div>    
    <br>
    <br>
    <h2>Horario Inscrito:</h2>
    <br>
    <p id='yy'><%= currentUser.horario %></p>
    <table id='thirdTable'>
      <tr>
          <td>Hora</td>
          <td>Lunes</td>
          <td>Martes</td>
          <td>Miercoles</td>
          <td>Jueves</td>
          <td>Viernes</td>
          <td>Sabado</td>
          <td>Domingo</td>
      </tr>
      <tr>
          <td>07:00</td>
          <td class="0 finalT" data-behaviour=' ' ></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
          <td class="0 finalT" data-behaviour=' '></td>
      </tr>
      <tr>
          <td>07:40</td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
          <td class='1 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>08:20</td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
          <td class='2 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>09:00</td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
          <td class='3 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>09:40</td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
          <td class='4 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>10:20</td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
          <td class='5 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>11:00</td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
          <td class='6 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>11:40</td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
          <td class='7 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>12:20</td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
          <td class='8 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>13:00</td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
          <td class='9 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>13:40</td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
          <td class='10 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>14:20</td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
          <td class='11 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>15:00</td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
          <td class='12 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>15:40</td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
          <td class='13 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>16:20</td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
          <td class='14 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>17:00</td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
          <td class='15 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>17:40</td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
          <td class='16 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>18:20</td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
          <td class='17 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>19:00</td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
          <td class='18 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>19:40</td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
          <td class='19 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>20:20</td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
          <td class='20 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>21:00</td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
          <td class='21 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>21:40</td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
          <td class='22 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>22:20</td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
          <td class='23 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>23:00</td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
          <td class='24 finalT' data-behaviour=' '></td>
      </tr>
      <tr>
          <td>23:40</td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
          <td class='25 finalT' data-behaviour=' '></td>
      </tr>        
  </table>
    <script>
        var x = document.getElementById('yy').innerText;
        x = JSON.parse(x);
        var y = document.getElementsByClassName('finalT');
        console.log(y);
        value = 0;
        for(var i=0; i<x.length; i++){
          for(var j=0; j<7;j++){
            if(x[i][j] != '' && isNaN(x[i][j])){
              y[value].innerHTML = x[i][j];              
            }else if(!isNaN(x[i][j]) && x[i][j] == 2){
              y[value].style.backgroundColor = '#fa5252';
            }else if(!isNaN(x[i][j]) && x[i][j] == 1){
              y[value].style.backgroundColor = '#228be6';
            }
            value++;
          }
        }
    </script>
</div>