<div class="divs">
    <p><%= currentUser.username %></p>
    <br>
    <p><%= currentUser.nombreUsuario %></p> 
    <br>
    <br>
    <p><%= currentUser.seleccionado %></p>
    <br>
    <br>
    <p><%= currentUser.horario %></p>
    <script>
        
    </script>
</div>