<div id="second" class="pantallaOff">
    <div class="selector">
        <div id="trabajo" onclick="activate('red')">trabajo</div>
        <div id="estudio" onclick="activate('blue')">clases</div>
        <div id="libre" onclick="activate('white')">borrar</div>
        <div id="limpiar" onclick="activate('clear')">reiniciar</div>
    </div>
    <table id=second-table>
        <tr>
            <td>Hora</td>
            <td>Lunes</td>
            <td>Martes</td>
            <td>Miercoles</td>
            <td>Jueves</td>
            <td>Viernes</td>
            <td>Sabado</td>
            <td>Domingo</td>
        </tr>
        <tr>
            <td>07:00</td>
            <td class="0" data-behaviour=' ' ></td>
            <td class="0" data-behaviour=' '></td>
            <td class="0" data-behaviour=' '></td>
            <td class="0" data-behaviour=' '></td>
            <td class="0" data-behaviour=' '></td>
            <td class="0" data-behaviour=' '></td>
            <td class="0" data-behaviour=' '></td>
        </tr>
        <tr>
            <td>07:40</td>
            <td class='1' data-behaviour=' '></td>
            <td class='1' data-behaviour=' '></td>
            <td class='1' data-behaviour=' '></td>
            <td class='1' data-behaviour=' '></td>
            <td class='1' data-behaviour=' '></td>
            <td class='1' data-behaviour=' '></td>
            <td class='1' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>08:20</td>
            <td class='2' data-behaviour=' '></td>
            <td class='2' data-behaviour=' '></td>
            <td class='2' data-behaviour=' '></td>
            <td class='2' data-behaviour=' '></td>
            <td class='2' data-behaviour=' '></td>
            <td class='2' data-behaviour=' '></td>
            <td class='2' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>09:00</td>
            <td class='3' data-behaviour=' '></td>
            <td class='3' data-behaviour=' '></td>
            <td class='3' data-behaviour=' '></td>
            <td class='3' data-behaviour=' '></td>
            <td class='3' data-behaviour=' '></td>
            <td class='3' data-behaviour=' '></td>
            <td class='3' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>09:40</td>
            <td class='4' data-behaviour=' '></td>
            <td class='4' data-behaviour=' '></td>
            <td class='4' data-behaviour=' '></td>
            <td class='4' data-behaviour=' '></td>
            <td class='4' data-behaviour=' '></td>
            <td class='4' data-behaviour=' '></td>
            <td class='4' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>10:20</td>
            <td class='5' data-behaviour=' '></td>
            <td class='5' data-behaviour=' '></td>
            <td class='5' data-behaviour=' '></td>
            <td class='5' data-behaviour=' '></td>
            <td class='5' data-behaviour=' '></td>
            <td class='5' data-behaviour=' '></td>
            <td class='5' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>11:00</td>
            <td class='6' data-behaviour=' '></td>
            <td class='6' data-behaviour=' '></td>
            <td class='6' data-behaviour=' '></td>
            <td class='6' data-behaviour=' '></td>
            <td class='6' data-behaviour=' '></td>
            <td class='6' data-behaviour=' '></td>
            <td class='6' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>11:40</td>
            <td class='7' data-behaviour=' '></td>
            <td class='7' data-behaviour=' '></td>
            <td class='7' data-behaviour=' '></td>
            <td class='7' data-behaviour=' '></td>
            <td class='7' data-behaviour=' '></td>
            <td class='7' data-behaviour=' '></td>
            <td class='7' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>12:20</td>
            <td class='8' data-behaviour=' '></td>
            <td class='8' data-behaviour=' '></td>
            <td class='8' data-behaviour=' '></td>
            <td class='8' data-behaviour=' '></td>
            <td class='8' data-behaviour=' '></td>
            <td class='8' data-behaviour=' '></td>
            <td class='8' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>13:00</td>
            <td class='9' data-behaviour=' '></td>
            <td class='9' data-behaviour=' '></td>
            <td class='9' data-behaviour=' '></td>
            <td class='9' data-behaviour=' '></td>
            <td class='9' data-behaviour=' '></td>
            <td class='9' data-behaviour=' '></td>
            <td class='9' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>13:40</td>
            <td class='10' data-behaviour=' '></td>
            <td class='10' data-behaviour=' '></td>
            <td class='10' data-behaviour=' '></td>
            <td class='10' data-behaviour=' '></td>
            <td class='10' data-behaviour=' '></td>
            <td class='10' data-behaviour=' '></td>
            <td class='10' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>14:20</td>
            <td class='11' data-behaviour=' '></td>
            <td class='11' data-behaviour=' '></td>
            <td class='11' data-behaviour=' '></td>
            <td class='11' data-behaviour=' '></td>
            <td class='11' data-behaviour=' '></td>
            <td class='11' data-behaviour=' '></td>
            <td class='11' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>15:00</td>
            <td class='12' data-behaviour=' '></td>
            <td class='12' data-behaviour=' '></td>
            <td class='12' data-behaviour=' '></td>
            <td class='12' data-behaviour=' '></td>
            <td class='12' data-behaviour=' '></td>
            <td class='12' data-behaviour=' '></td>
            <td class='12' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>15:40</td>
            <td class='13' data-behaviour=' '></td>
            <td class='13' data-behaviour=' '></td>
            <td class='13' data-behaviour=' '></td>
            <td class='13' data-behaviour=' '></td>
            <td class='13' data-behaviour=' '></td>
            <td class='13' data-behaviour=' '></td>
            <td class='13' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>16:20</td>
            <td class='14' data-behaviour=' '></td>
            <td class='14' data-behaviour=' '></td>
            <td class='14' data-behaviour=' '></td>
            <td class='14' data-behaviour=' '></td>
            <td class='14' data-behaviour=' '></td>
            <td class='14' data-behaviour=' '></td>
            <td class='14' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>17:00</td>
            <td class='15' data-behaviour=' '></td>
            <td class='15' data-behaviour=' '></td>
            <td class='15' data-behaviour=' '></td>
            <td class='15' data-behaviour=' '></td>
            <td class='15' data-behaviour=' '></td>
            <td class='15' data-behaviour=' '></td>
            <td class='15' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>17:40</td>
            <td class='16' data-behaviour=' '></td>
            <td class='16' data-behaviour=' '></td>
            <td class='16' data-behaviour=' '></td>
            <td class='16' data-behaviour=' '></td>
            <td class='16' data-behaviour=' '></td>
            <td class='16' data-behaviour=' '></td>
            <td class='16' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>18:20</td>
            <td class='17' data-behaviour=' '></td>
            <td class='17' data-behaviour=' '></td>
            <td class='17' data-behaviour=' '></td>
            <td class='17' data-behaviour=' '></td>
            <td class='17' data-behaviour=' '></td>
            <td class='17' data-behaviour=' '></td>
            <td class='17' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>19:00</td>
            <td class='18' data-behaviour=' '></td>
            <td class='18' data-behaviour=' '></td>
            <td class='18' data-behaviour=' '></td>
            <td class='18' data-behaviour=' '></td>
            <td class='18' data-behaviour=' '></td>
            <td class='18' data-behaviour=' '></td>
            <td class='18' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>19:40</td>
            <td class='19' data-behaviour=' '></td>
            <td class='19' data-behaviour=' '></td>
            <td class='19' data-behaviour=' '></td>
            <td class='19' data-behaviour=' '></td>
            <td class='19' data-behaviour=' '></td>
            <td class='19' data-behaviour=' '></td>
            <td class='19' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>20:20</td>
            <td class='20' data-behaviour=' '></td>
            <td class='20' data-behaviour=' '></td>
            <td class='20' data-behaviour=' '></td>
            <td class='20' data-behaviour=' '></td>
            <td class='20' data-behaviour=' '></td>
            <td class='20' data-behaviour=' '></td>
            <td class='20' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>21:00</td>
            <td class='21' data-behaviour=' '></td>
            <td class='21' data-behaviour=' '></td>
            <td class='21' data-behaviour=' '></td>
            <td class='21' data-behaviour=' '></td>
            <td class='21' data-behaviour=' '></td>
            <td class='21' data-behaviour=' '></td>
            <td class='21' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>21:40</td>
            <td class='22' data-behaviour=' '></td>
            <td class='22' data-behaviour=' '></td>
            <td class='22' data-behaviour=' '></td>
            <td class='22' data-behaviour=' '></td>
            <td class='22' data-behaviour=' '></td>
            <td class='22' data-behaviour=' '></td>
            <td class='22' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>22:20</td>
            <td class='23' data-behaviour=' '></td>
            <td class='23' data-behaviour=' '></td>
            <td class='23' data-behaviour=' '></td>
            <td class='23' data-behaviour=' '></td>
            <td class='23' data-behaviour=' '></td>
            <td class='23' data-behaviour=' '></td>
            <td class='23' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>23:00</td>
            <td class='24' data-behaviour=' '></td>
            <td class='24' data-behaviour=' '></td>
            <td class='24' data-behaviour=' '></td>
            <td class='24' data-behaviour=' '></td>
            <td class='24' data-behaviour=' '></td>
            <td class='24' data-behaviour=' '></td>
            <td class='24' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>23:40</td>
            <td class='25' data-behaviour=' '></td>
            <td class='25' data-behaviour=' '></td>
            <td class='25' data-behaviour=' '></td>
            <td class='25' data-behaviour=' '></td>
            <td class='25' data-behaviour=' '></td>
            <td class='25'  data-behaviour=' '></td>
            <td class='25' data-behaviour=' '></td>
        </tr>
    </table>
</div>
<!--SOLO DEMOSTRACION-->
<div id="first" class='pantallaOn'>
    <div id=innerFirst>

    </div>
</div>
<div id="third" class='pantallaOff'>
    
    <table id='thirdTable'>
        <tr>
            <td>Hora</td>
            <td>Lunes</td>
            <td>Martes</td>
            <td>Miercoles</td>
            <td>Jueves</td>
            <td>Viernes</td>
            <td>Sabado</td>
            <td>Domingo</td>
        </tr>
        <tr>
            <td>07:00</td>
            <td class="0 finalT" data-behaviour=' ' ></td>
            <td class="0 finalT" data-behaviour=' '></td>
            <td class="0 finalT" data-behaviour=' '></td>
            <td class="0 finalT" data-behaviour=' '></td>
            <td class="0 finalT" data-behaviour=' '></td>
            <td class="0 finalT" data-behaviour=' '></td>
            <td class="0 finalT" data-behaviour=' '></td>
        </tr>
        <tr>
            <td>07:40</td>
            <td class='1 finalT' data-behaviour=' '></td>
            <td class='1 finalT' data-behaviour=' '></td>
            <td class='1 finalT' data-behaviour=' '></td>
            <td class='1 finalT' data-behaviour=' '></td>
            <td class='1 finalT' data-behaviour=' '></td>
            <td class='1 finalT' data-behaviour=' '></td>
            <td class='1 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>08:20</td>
            <td class='2 finalT' data-behaviour=' '></td>
            <td class='2 finalT' data-behaviour=' '></td>
            <td class='2 finalT' data-behaviour=' '></td>
            <td class='2 finalT' data-behaviour=' '></td>
            <td class='2 finalT' data-behaviour=' '></td>
            <td class='2 finalT' data-behaviour=' '></td>
            <td class='2 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>09:00</td>
            <td class='3 finalT' data-behaviour=' '></td>
            <td class='3 finalT' data-behaviour=' '></td>
            <td class='3 finalT' data-behaviour=' '></td>
            <td class='3 finalT' data-behaviour=' '></td>
            <td class='3 finalT' data-behaviour=' '></td>
            <td class='3 finalT' data-behaviour=' '></td>
            <td class='3 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>09:40</td>
            <td class='4 finalT' data-behaviour=' '></td>
            <td class='4 finalT' data-behaviour=' '></td>
            <td class='4 finalT' data-behaviour=' '></td>
            <td class='4 finalT' data-behaviour=' '></td>
            <td class='4 finalT' data-behaviour=' '></td>
            <td class='4 finalT' data-behaviour=' '></td>
            <td class='4 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>10:20</td>
            <td class='5 finalT' data-behaviour=' '></td>
            <td class='5 finalT' data-behaviour=' '></td>
            <td class='5 finalT' data-behaviour=' '></td>
            <td class='5 finalT' data-behaviour=' '></td>
            <td class='5 finalT' data-behaviour=' '></td>
            <td class='5 finalT' data-behaviour=' '></td>
            <td class='5 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>11:00</td>
            <td class='6 finalT' data-behaviour=' '></td>
            <td class='6 finalT' data-behaviour=' '></td>
            <td class='6 finalT' data-behaviour=' '></td>
            <td class='6 finalT' data-behaviour=' '></td>
            <td class='6 finalT' data-behaviour=' '></td>
            <td class='6 finalT' data-behaviour=' '></td>
            <td class='6 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>11:40</td>
            <td class='7 finalT' data-behaviour=' '></td>
            <td class='7 finalT' data-behaviour=' '></td>
            <td class='7 finalT' data-behaviour=' '></td>
            <td class='7 finalT' data-behaviour=' '></td>
            <td class='7 finalT' data-behaviour=' '></td>
            <td class='7 finalT' data-behaviour=' '></td>
            <td class='7 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>12:20</td>
            <td class='8 finalT' data-behaviour=' '></td>
            <td class='8 finalT' data-behaviour=' '></td>
            <td class='8 finalT' data-behaviour=' '></td>
            <td class='8 finalT' data-behaviour=' '></td>
            <td class='8 finalT' data-behaviour=' '></td>
            <td class='8 finalT' data-behaviour=' '></td>
            <td class='8 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>13:00</td>
            <td class='9 finalT' data-behaviour=' '></td>
            <td class='9 finalT' data-behaviour=' '></td>
            <td class='9 finalT' data-behaviour=' '></td>
            <td class='9 finalT' data-behaviour=' '></td>
            <td class='9 finalT' data-behaviour=' '></td>
            <td class='9 finalT' data-behaviour=' '></td>
            <td class='9 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>13:40</td>
            <td class='10 finalT' data-behaviour=' '></td>
            <td class='10 finalT' data-behaviour=' '></td>
            <td class='10 finalT' data-behaviour=' '></td>
            <td class='10 finalT' data-behaviour=' '></td>
            <td class='10 finalT' data-behaviour=' '></td>
            <td class='10 finalT' data-behaviour=' '></td>
            <td class='10 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>14:20</td>
            <td class='11 finalT' data-behaviour=' '></td>
            <td class='11 finalT' data-behaviour=' '></td>
            <td class='11 finalT' data-behaviour=' '></td>
            <td class='11 finalT' data-behaviour=' '></td>
            <td class='11 finalT' data-behaviour=' '></td>
            <td class='11 finalT' data-behaviour=' '></td>
            <td class='11 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>15:00</td>
            <td class='12 finalT' data-behaviour=' '></td>
            <td class='12 finalT' data-behaviour=' '></td>
            <td class='12 finalT' data-behaviour=' '></td>
            <td class='12 finalT' data-behaviour=' '></td>
            <td class='12 finalT' data-behaviour=' '></td>
            <td class='12 finalT' data-behaviour=' '></td>
            <td class='12 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>15:40</td>
            <td class='13 finalT' data-behaviour=' '></td>
            <td class='13 finalT' data-behaviour=' '></td>
            <td class='13 finalT' data-behaviour=' '></td>
            <td class='13 finalT' data-behaviour=' '></td>
            <td class='13 finalT' data-behaviour=' '></td>
            <td class='13 finalT' data-behaviour=' '></td>
            <td class='13 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>16:20</td>
            <td class='14 finalT' data-behaviour=' '></td>
            <td class='14 finalT' data-behaviour=' '></td>
            <td class='14 finalT' data-behaviour=' '></td>
            <td class='14 finalT' data-behaviour=' '></td>
            <td class='14 finalT' data-behaviour=' '></td>
            <td class='14 finalT' data-behaviour=' '></td>
            <td class='14 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>17:00</td>
            <td class='15 finalT' data-behaviour=' '></td>
            <td class='15 finalT' data-behaviour=' '></td>
            <td class='15 finalT' data-behaviour=' '></td>
            <td class='15 finalT' data-behaviour=' '></td>
            <td class='15 finalT' data-behaviour=' '></td>
            <td class='15 finalT' data-behaviour=' '></td>
            <td class='15 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>17:40</td>
            <td class='16 finalT' data-behaviour=' '></td>
            <td class='16 finalT' data-behaviour=' '></td>
            <td class='16 finalT' data-behaviour=' '></td>
            <td class='16 finalT' data-behaviour=' '></td>
            <td class='16 finalT' data-behaviour=' '></td>
            <td class='16 finalT' data-behaviour=' '></td>
            <td class='16 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>18:20</td>
            <td class='17 finalT' data-behaviour=' '></td>
            <td class='17 finalT' data-behaviour=' '></td>
            <td class='17 finalT' data-behaviour=' '></td>
            <td class='17 finalT' data-behaviour=' '></td>
            <td class='17 finalT' data-behaviour=' '></td>
            <td class='17 finalT' data-behaviour=' '></td>
            <td class='17 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>19:00</td>
            <td class='18 finalT' data-behaviour=' '></td>
            <td class='18 finalT' data-behaviour=' '></td>
            <td class='18 finalT' data-behaviour=' '></td>
            <td class='18 finalT' data-behaviour=' '></td>
            <td class='18 finalT' data-behaviour=' '></td>
            <td class='18 finalT' data-behaviour=' '></td>
            <td class='18 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>19:40</td>
            <td class='19 finalT' data-behaviour=' '></td>
            <td class='19 finalT' data-behaviour=' '></td>
            <td class='19 finalT' data-behaviour=' '></td>
            <td class='19 finalT' data-behaviour=' '></td>
            <td class='19 finalT' data-behaviour=' '></td>
            <td class='19 finalT' data-behaviour=' '></td>
            <td class='19 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>20:20</td>
            <td class='20 finalT' data-behaviour=' '></td>
            <td class='20 finalT' data-behaviour=' '></td>
            <td class='20 finalT' data-behaviour=' '></td>
            <td class='20 finalT' data-behaviour=' '></td>
            <td class='20 finalT' data-behaviour=' '></td>
            <td class='20 finalT' data-behaviour=' '></td>
            <td class='20 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>21:00</td>
            <td class='21 finalT' data-behaviour=' '></td>
            <td class='21 finalT' data-behaviour=' '></td>
            <td class='21 finalT' data-behaviour=' '></td>
            <td class='21 finalT' data-behaviour=' '></td>
            <td class='21 finalT' data-behaviour=' '></td>
            <td class='21 finalT' data-behaviour=' '></td>
            <td class='21 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>21:40</td>
            <td class='22 finalT' data-behaviour=' '></td>
            <td class='22 finalT' data-behaviour=' '></td>
            <td class='22 finalT' data-behaviour=' '></td>
            <td class='22 finalT' data-behaviour=' '></td>
            <td class='22 finalT' data-behaviour=' '></td>
            <td class='22 finalT' data-behaviour=' '></td>
            <td class='22 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>22:20</td>
            <td class='23 finalT' data-behaviour=' '></td>
            <td class='23 finalT' data-behaviour=' '></td>
            <td class='23 finalT' data-behaviour=' '></td>
            <td class='23 finalT' data-behaviour=' '></td>
            <td class='23 finalT' data-behaviour=' '></td>
            <td class='23 finalT' data-behaviour=' '></td>
            <td class='23 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>23:00</td>
            <td class='24 finalT' data-behaviour=' '></td>
            <td class='24 finalT' data-behaviour=' '></td>
            <td class='24 finalT' data-behaviour=' '></td>
            <td class='24 finalT' data-behaviour=' '></td>
            <td class='24 finalT' data-behaviour=' '></td>
            <td class='24 finalT' data-behaviour=' '></td>
            <td class='24 finalT' data-behaviour=' '></td>
        </tr>
        <tr>
            <td>23:40</td>
            <td class='25 finalT' data-behaviour=' '></td>
            <td class='25 finalT' data-behaviour=' '></td>
            <td class='25 finalT' data-behaviour=' '></td>
            <td class='25 finalT' data-behaviour=' '></td>
            <td class='25 finalT' data-behaviour=' '></td>
            <td class='25 finalT' data-behaviour=' '></td>
            <td class='25 finalT' data-behaviour=' '></td>
        </tr>        
    </table>
</div>
<div id="click" class='bFinal'>></div>
<script src="/basejs.js"></script>