<%- include('header'); -%>

<div class="container-fluid mt-4">
    <div class="input-group mb-3">
        <select class="custom-select">
            <option selected>Materias que esta cursando...</option>
            <option value="1">(0061013) Comprensión y expresión Lingüística I</option>
            <option value="2">(0071823) Inglés Instrumental</option>
            <option value="3">(0081814) Matemáticas I</option>
            <option value="4">(0091012) Desarrollo de Destrezas para el Aprendizaje</option>
            <option value="5">(0101214) Química General</option>
            <option value="6">(0021111) Extraacadémica</option>
            <option value="7">(0051324) Física I</option>
            <option value="8">(0061023) Compresión y expresión lingüística II</option>
            <option value="9">(0071121) Inglés Técnico I</option>
            <option value="10">(0081824) Matemáticas II</option>
            <option value="11">(0721162) Intr. a la Lógica Formal y Algoritmo</option>
            <option value="12">(0052131) Laboratorio de Física I</option>
            <option value="13">(0052134) Física II</option>
            <option value="14">(0082814) Matemáticas III</option>
            <option value="15">(0712642) Intr. a la Ingeniería de Sistema</option>
            <option value="16">(0722103) Programación Orientada a Objetos</option>
            <option value="17">(0722111) Taller de Program. Orientada a Objetos</option>
            <option value="18">(0073023) Metodología de la Investigación</option>
            <option value="19">(0082824) Matemáticas IV</option>
            <option value="20">(0623313) Estadística I</option>
            <option value="21">(0712142) Introdución a la Economía</option>
            <option value="22">(0722123) Objetos y Abstracción de Datos</option>
            <option value="23">(0722131) Taller de Objet. y Abstracción de Datos</option>
            <option value="24">(0624622) Estadística II</option>
            <option value="25">(0713122) Inferencia y Diseño de Experimentos</option>
            <option value="26">(0713172) Sistemas de Costo</option>
            <option value="27">(0713463) Circuitos y Sistemas</option>
            <option value="28">(0713632) Teoría de Sistemas</option>
            <option value="29">(0713643) Sistema de Operación</option>
            <option value="30">(0723913) Métodos Numéricos</option>
            <option value="31">(0713113) Economía de Empresas</option>
            <option value="32">(0713622) Admon. de Stmas. de Base de Datos</option>
            <option value="33">(0713633) Enfoque Sistémico</option>
            <option value="34">(0713653) Análisis de Decisiones</option>
            <option value="35">(0713663) Optimizaxión de Operaciones</option>
            <option value="36">(0723533) Electrónica</option>
            <option value="37">(0714153) Prepar., Eval. y Cntrol de Proyectos</option>
            <option value="38">(0714323) Anál. y Diseño de Stms. de Información</option>
            <option value="39">(0714633) Modelos de Operaciones I</option>
            <option value="40">(0714643) Sistemas Dinámicos</option>
            <option value="41">(0724641) Laboratorios de Circuitos y Electrónica</option>
            <option value="42">(0625613) Administración Financiera de Empresas</option>
            <option value="43">(0714123) Gestión Empresarial I</option>
            <option value="44">(0714133) Modelos de Operaciones II</option>
            <option value="45">(0714612) Aplicación y Audit. de Stmas. de Inform.</option>
            <option value="46">(0714642) Sistemas de Comunicación Industrial</option>
            <option value="47">(0625822) Leyes y Deontología</option>
            <option value="48">(0715112) Planificación Estratégica</option>
        </select>
    </div>
</div>

  <%- include('footer'); -%>