<%- include('partials/header'); -%>

<nav class="navbar navbar-background navbar-expand-lg">
    <img src="/img/logo1.png" id="brandLogo" alt=""><a href="#" class="navbar-brand">UDO</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href="#" class="nav-link">Conectado como: <%= currentUser.nombreUsuario %></a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link">Desconectarse</a>
        </li>
    </ul>
</nav>

<div>
    <%- include('partials/selections'); -%>
</div>

<%- include('partials/footer'); -%>