<%- include('partials/header'); -%>


<form class="box" action="/login" method="POST">  
    <img class="boxlogo" src="/img/logo1.png" alt="">  
    <h1>aidUDO</h1>
    <input required type="text" name="username" placeholder="Usuario">
    <input required type="password" name="password" placeholder="Contraseña">
    <a href="#">¿Olvidó su contraseña? <span>Pulse aquí.</span></a>
    <input type="submit" name="" value="Ingresar">
    <a id="boton_registro" role="button" href="/registro">Registrarse</a>
</form>

<%- include('partials/footer'); -%>