<%- include('partials/header'); -%>

<form class="box" action="/login" method="POST">
    <h1>Inicio</h1>
    <input required type="text" name="username" placeholder="Usuario">
    <input required type="password" name="password" placeholder="Contraseña">
    <input type="submit" name="" value="Ingresar">
    <a role="button" href="/registro">Registrarse</a>
</form>

<%- include('partials/footer'); -%>