<%- include('partials/header'); -%>


<form class="box" action="/registro" method="POST">
    <h1>aidUDO</h1>
    <img class="boxlogo" src="/img/logo1.png" alt="">
    <input required type="text" name="username" placeholder="Usuario">
    <input type="text" required name="nombreUsuario" placeholder="Nombre y Apellido">
    <input required type="password" name="password" placeholder="Contraseña">
    <input class="boxcancel" type="submit" value="Registrarse">
    <a class="boxcancel" role="button" href="/">Cancelar</a>
</form>

<%- include('partials/footer'); -%>