<%- include('partials/header'); -%>


<form class="box boxregistro" action="/registro" method="POST">
    <h1>aidUDO</h1>
    <img class="boxlogo" src="/img/logo1.png" alt="">
    <input required type="text" name="username" placeholder="Usuario">
    <input required type="email" name="email" placeholder="Correo@Ejemplo.com">
    <input type="text" required name="nombreUsuario" placeholder="Nombre y Apellido">
    <input required type="password" name="password" placeholder="Contraseña">
    <select name="especialidad" id="select">
        <option value="Ingeniería Agronómica">Ingeniería Agronómica</option>
        <option value="Ingeniería de Petróleo">Ingeniería de Petróleo</option>
        <option value="Ingeniería de Sistemas">Ingeniería de Sistemas</option>
        <option value="Ingeniería en Producción Animal">Ingeniería en Producción Animal</option>
        <option value="Licenciatura en Administración">Licenciatura en Administración</option>
        <option value="Licenciatura en Contaduría Pública">Licenciatura en Contaduría Pública</option>
        <option value="Licenciatura en Gerencia de Recursos Humanos">Licenciatura en Gerencia de Recursos Humanos</option>        
        <option value="Licenciatura en Tecnología de los Alimentos">Licenciatura en Tecnología de los Alimentos</option>        
    </select>
    <input class="boxcancel" type="submit" value="Registrarse">
    <a class="boxcancel" role="button" href="/">Cancelar</a>
</form>

<%- include('partials/footer'); -%>