body{
    margin: 0;
    /* background: #34495e; */
    background-image: url(/img/fondo2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    user-select: none;
    font-family: sans-serif;
}
a{
    color: #f1f3f5;
    text-decoration: none;
    font-weight: bold;

}.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px;
}
.navbar div {
    display: flex;
    align-items: center;
}
.navbar-nav{
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}
#container{
    margin-top: 5%;
    border: 1px solid #120a3d;
    padding: 10px;
    background: #33334d;
    color: white;
}

#logo{
    width: 10rem;
}

#logoLanding{
    width: 10rem;
}

#registro{
    display: inline-block;
}

#contenedorLanding{
    text-align: center;
    padding-top: 10%;
}

#contenedorLanding h1{
    color: white;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
    margin-bottom: 5px;
}

#brandLogo{
    width: 2rem;
    margin-right: 5px;
}

label{
    margin-top: 10px;
    margin-bottom: 0;
}

hr{
    width: 700px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-top: 1px;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

#botonInicio{
    width: 200px;
    font-size: 1.5rem;
}

#contenedorIndex{
    background: white;
}

#tablaDiv, .tablaPad{
    padding: 3%;
}

.box{
    width: 360px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 72%;
    transform: translate(-50%,-50%);
    background: #2d3037;
    text-align: center;
    border-radius: 20px;
    /* box-shadow: 5px 10px 8px #111; */
}

.box .boxlogo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.box h1{
    color: white;
    /* text-transform: uppercase; */
    font-weight: 500;
    margin-top: 20px;
}

.box input[type = 'text'], .box input[type = 'password'], .box input[type='email'], .box select{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #fff;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
#topd{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #343a40;
}
#topd h1{
    margin: 0;
}
#topd div{
    display: flex;
    flex-direction: row;
}
#topd div div{
    padding: 5px;
    background-color:#343a40;
    border-radius: 5px;
    color: #e9ecef;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-right: 5px;    
}
#topd div div:hover{    
    cursor: pointer;
    background-color: #495057;
    color: #f1f3f5;
}
#topd div div:last-child{
    background-color: #087f5b;
}
#topd div div:hover:last-child{
    background-color: #099268;
    color: #f1f3f5;
}
.box select{
    background-color: white;
    color: #212529;
}

.boxregistro{
    margin-top: 20px;
}

.box input[type = 'text']:focus, .box input[type = 'password']:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type = 'submit']{
    border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 12px 20px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    margin-right: 20px;
    font-weight: bold;
    font-size: 1em;
}

.box #boton_registro{
    border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #036ffc;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    text-decoration: none;
    cursor: pointer;
}

.box #boton_registro:hover{
    background: #036ffc;
}

.box .boxcancel{
    border: 0;
    background: none;
    display: inline;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #c0392b;
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    text-decoration: none;
    cursor: pointer;
}

.box .boxcancel:hover{
    background: #c0392b;
}

.box input[type = 'submit']:hover{
    background: #2ecc71;
}

.navbar-background{
    background: #2d3037;
}

.box span{
    color: #FFD529;
}


















/* Automata */

/*PRUEBA
*/


/*PRUEBA
*/
.pantallaOn{
    display: block;
}
.bFinal{
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;    
    font-size: 100%;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
    cursor: pointer;
}
.pantallaOff{
    display: none;
}
.divs{
    height: 500px;
    overflow-y: auto;
    width: 95%;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
}
.divs4{
    overflow-y: auto;
    width: 95%;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
}
#topuser{
    display: flex;
    flex-direction: column;   
    justify-content: left; 
}

#midd{
    margin-top: 10px;
    padding: 20px;
    border-radius: 20px;
    background: #e6e6e6;
    box-shadow:  20px 20px 60px #c4c4c4, 
             -20px -20px 60px #ffffff;
}
#midd h2{
    margin-top: 0;
}
#midd ul{
    margin-bottom: 0;
}
#midd li{
    padding: 5px;
}
#yy, #libros{
    display: none;
}
#first{
    height: 500px;
    overflow-y: auto;
    width: 95%;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
                 
}
#innerFirst{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}
.materia{
    display: flex;
    flex-flow: column;
    background-color: #ced4da;
    padding: 1rem;
    border-radius: 5px;
    user-select: none;    
    cursor: pointer;
}
.materia > h4, h5, h6{
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}
.materia h6:last-of-type{
    margin-bottom: 2px;
}

.selected{
    background-color: #74c0fc;
}
.intensity{
    background-color: white;
}
.sign{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2px;
    text-align: center;
}
/*PRUEBA
*/

/* body{
    font-family: lucida sans regular;
    user-select: none;
} */

h2, h3{
    text-align: center;
    font-variant: small-caps;
}
.divs4 h2:first-child{
    text-align: left;
}
.divs4 > h2{
    margin-bottom: 0;
}

b{
    font-size: 0.75rem;
}
table{
    background-color:#343a40;
    border-radius: 5px;
    padding: 1px;
    margin: auto;
    margin-top: 20px;
    border-spacing: 1px;
    user-select: none;
}
table tr:first-child td{
    background-color: #343a40;
    color:#f8f9fa
}
table tr:nth-child(1n+2) td:first-child{
    background-color: #495057;
    color:#f8f9fa;
}

table tr{
    border-radius: 10px;
}
table tr td{
    width: 120px;
    height: 20px;
    text-align: center;
    font-variant: small-caps;
    background-color: white;
    font-size: 12px;
}

table tr td:hover{
    background-color: #e7f5ff;
    transition: .3s;
}
.selector{
 background-color: #2d3037;
 width: 400px;
 margin: auto;
 margin-top: 20px;
 display: flex;
 border-radius: 5px;
 }
.selector div{
height: 50px;
width: 100px;
background-color: #f8f9fa;
display: flex;
align-items: center;
justify-content: center;
margin: 5px;
border-radius: 5px;
font-family: lucida sans regular;
font-size: 20px;
font-variant: small-caps;
font-weight: bold;
user-select: none;
}
.selector div:last-child{
    margin-left: 30px;
}
.selector div:hover{
    background-color: #dee2e6;
    cursor: pointer;
}
.nombrem{
    font-weight: bold;
}
.nombrel{
    color: black;
    display: block;
    margin-bottom: 1em;
    font-weight: lighter;
}

.nombrel:hover{
    color: #2b8a3e;
}
.nombrel:hover::after{
    content: 'Buscar en Google';
    color: blue;
    font-size: 0.8em;
}
.seclib{
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    background: #e6e6e6;
    box-shadow:  20px 20px 60px #c4c4c4, 
             -20px -20px 60px #ffffff;
}

.wrapperImportance{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .5rem;
}
.importanceMateria{
    width: 90%;
    min-height: 140px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #ced4da;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.delete{
    background-color: #dee2e6;
    width: 20%;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.delete::after{
    content: 'X';
    font-size: 2em;
}
.delete:hover{
    transition: .3s;
    background-color: #c92a2a;
    color: white;
}
.info{
    width: 80%;
    padding: 15px;
    background-color: #dee2e6;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.checkImportance{
    height: 30px;
    display: flex;
    justify-content: space-between;
}
